* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    padding: 20px;
}


/*------------Menu-----------------------*/


/*---------------------------------------*/

html {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    /*kiểu chữ cho cả trang*/
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}

.container {
    width: 90%;
    height: 50%;
    box-sizing: border-box;
    margin-top: -60px;
}

.menu__item a {
    text-decoration: none;
    display: block;
    position: relative;
    transition: border-bottom 0.3s ease-in-out;
    font-size: 130%;
    font-weight: 400;
}

.nav li a {
    font-weight: 900;
    color: rgb(141, 113, 113);
}

.menu {
    /*color:rgb(207, 195, 179);*/
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0px 10%;
}

.menu li a:hover,
.menu li a:active {
    border-bottom: 2px solid rgb(141, 113, 113);
}

.menu__item {
    z-index: 1;
    position: relative;
    font-size: 90%;
    font-weight: 600;
    padding: 10px 15px;
    margin: 0px 5%;
}

.menu-con {
    list-style: none;
    position: absolute;
    top: calc(100% + 5px);
    /*border: solid 2px rgb(209, 181, 181);*/
    background-color: #ebe2e2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.item-con {
    display: block;
}

.item-con a {
    display: block;
    color: rgb(119, 117, 117);
    padding: 0px 10px;
}

.menu__item:hover .menu-con {
    opacity: 1;
    visibility: visible;
}

header {
    /*background-color: #d3b995;*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*background-image: linear-gradient(#D8C3A5, #ad8784);*/


/*----phần logo-----*/

.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-----------Đăng nhập vs giỏ hàng----------*/

.main-nav {
    list-style: none;
    /*xóa chấm đen mặc định*/
}


/* khi click chuột thì có gạch chân*/

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(141, 113, 113);
}

.main-nav li a {
    text-decoration: none;
    /*đường kẻ mặc định ở chân*/
    color: rgb(141, 113, 113);
    font-size: 120%;
    font-weight: 500;
    transition: border-bottom 0.3s ease-in-out;
    /*độ nhanh chậm chuyển cảnh*/
    padding: 3px 0;
    font-weight: 600;
}

.main-nav li {
    display: inline-block;
    /*hiển thị trên cùng 1 hàng*/
    margin-right: 40px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/*---------Thanh tìm kiếm -------------*/


/*------------------------------------*/

.searchbar {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.search {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    font-size: 14px;
    font-weight: 500;
    width: 350px;
    border: none;
    color: rgb(167, 145, 145);
    outline: none;
}

.search input[type=text] {
    margin-top: 10px;
}

.Email {
    display: flex;
    border-radius: 30px;
    border: 1px solid;
    width: fit-content;
    padding: 0px 5px;
    overflow: hidden;
}

.btn7 {
    padding: 5px;
    border-radius: 1px;
    position: relative;
}


/*---------menu---------*/


/*---------------------*/

.container-section {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background: white;
    width: 100%;
    height: 900%;
    margin: 0 auto;
    padding: 5px;
}

.item {
    background: rgb(139, 100, 100);
    margin: 100px;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


/*------trang chủ------------------*/


/*---------------------------------*/

.conter {
    width: 100%;
    text-align: center;
}

.trangchu {
    margin-top: -5px;
    background: rgb(172, 169, 169);
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    font-size: 20px;
    height: 50px;
}

#nav-arrow {
    font-size: 10px;
    color: black;
}

.trangchu-con li {
    margin-top: 13px;
}

.trangchu-con li a {
    text-decoration: none;
    color: rgb(63, 56, 56);
    font-size: 15PX;
}

.trangchu-con li a:hover,
.trangchu-con li a:active {
    border-bottom: 2px solid rgb(141, 113, 113);
}


/*---------------------------------------------*/


/*---------------------------------------------*/

.dangnhap {
    align-items: center;
}

h2 {
    margin-top: 20px;
    color: rgba(43, 37, 37, 0.788);
}

form {
    margin-top: 20px;
}

.back {
    margin-top: 0px;
    color: #111314b5;
    text-decoration: none;
}

.registration {
    margin-top: 10px;
    color: #111314b5;
}

input[type=text-1] {
    line-height: 30px;
    width: 30%;
}

input[type=password] {
    line-height: 30px;
    width: 30%;
    margin-top: 10px;
}

input[type=submit] {
    background-color: #111314b5;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    width: 30%;
    border-radius: 6px;
    color: #f7e9e9c9;
}


/*phần ưu đãi*/

.phan-duoi {
    margin-top: 10px;
    background: rgb(172, 169, 169);
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    text-align: center;
}

p {
    padding: 10px;
    padding-right: 10px;
}


/* phần cuối*/

#footer {
    width: 100%;
}

.information {
    font-size: 18px;
    list-style: none;
}

.wrapper {
    margin-top: 50px;
    background-color: rgb(172, 169, 169);
    padding-bottom: 100px;
    /* display: grid;
        grid-template-columns: auto auto auto; */
    display: flex;
    justify-content: space-around;
}


/*.wrapper-item {
        display: flex;
        align-items: center;
    }*/

.info h3 {
    padding-top: 50px;
    /* width: 100%;
        display: block; */
}

.wrapper li a {
    text-decoration: none;
    color: rgb(70, 40, 40);
    display: block;
}

.info-con span {
    margin-left: 10px;
}

.wrapper li {
    list-style: none;
    margin: 10px 0px;
}

.info-con li a:hover,
.info-con li a:active {
    /*border-bottom: 2px solid rgb(83, 51, 51);*/
    color: white;
    transform: scale(1.1);
}

.info-con li a {
    padding: 1px 0;
    font-weight: 500;
    transition: all 0.4s;
}

.policy h3 {
    padding-top: 50px;
}

.policy li a {
    text-decoration: none;
    color: rgb(70, 40, 40);
}

.policy>li {
    list-style: none;
}

.policy>li a {
    transition: all 0.4s;
}

.policy li a:hover,
.policy li a:active {
    /*border-bottom: 2px solid rgb(83, 51, 51);*/
    color: white;
    transform: scale(1.1);
}

.policy li a {
    padding: 1px 0;
    font-weight: 500;
}

.about h3 {
    padding-top: 50px;
}

.about li a {
    text-decoration: none;
    color: rgb(70, 40, 40);
}

.about>li {
    list-style: none;
}

.about>li a {
    transition: all 0.4s;
}

.about li a:hover,
.about li a:active {
    /*border-bottom: 2px solid rgb(83, 51, 51);*/
    color: white;
    transform: scale(1.1);
}

.about li a {
    padding: 1px 0;
    font-weight: 500;
}

.copylink {
    background-color: rgb(172, 169, 169);
}

.copylink p {
    color: rgb(63, 49, 49);
    display: block;
    display: flex;
    justify-content: center;
}

.thongtin ul li a i {
    font-weight: 900;
    font-size: 150%;
    transition: all 0.2s;
}

.thongtin ul li {
    display: inline-block;
    margin-left: 20px;
}

.thongtin ul li a i:hover {
    transform: scale(1.3);
    color: black;
}